<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Rick and Morty demo</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   </head>
   <body background="https://www.virginexperiencedays.co.uk/content/img/product/large/family-wembley-stadium-tour-07084353.jpg" >
   
   
   <button onclick="trigger()">Error Operativa</button>
      <script>
         var url = 'https://us-central1-k8-spinnaker.cloudfunctions.net/report-error';
         
         function trigger(){
              return fetch(url, {
         body: JSON.stringify({body : 1}),
         cache: 'no-cache', 
         credentials: 'same-origin', 
         method: 'POST',
         mode: 'no-cors',
         redirect: 'follow', 
         referrer: 'no-referrer'
         })
         .then(() => {console.log('error-done')})}
         
         (function(){
            trigger()
         }())
         
      </script>
   </body>
</html>
